* {
  box-sizing: border-box;
  margin: 0;
  box-sizing: border-box;

  /* Añadido por Haziel: Fuente */
  font-family: 'Inter';
}

p {
  text-align: center;
  top: 50px;
  font-size: 65px;
  font-family: Pacifico;
  color: #000000;
  word-wrap: break-word;
  text-shadow: 8px 6px 9px #ffffff;
}

.imgevento1 img {
  width: 99.98%;
  height: 100%;
}

.fondo3 {
  margin-top: -3px;
  background-color: #f9b238a3;
}

.texto {
  margin-top: 5px;
  font-size: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.recuadro1 {
  justify-content: center;
  align-items: center;
}

.iconofamilia img {
  display: flex;
  margin-left: 695px;
  width: 40px;
  align-items: center;
  justify-content: center;
  box-shadow: 8px 3px 5px #000000;
}

.bloquefamilia1 {
  display: flex;
  margin-top: 20px;

}

.familia1 img {
  width: 70%;
  border-radius: 5px;
  margin-left: 100px;
  box-shadow: 8px 3px 5px #000000;
}

.familia2 img {
  width: 70%;
  border-radius: 5px;
  margin-left: 100px;
  box-shadow: 8px 3px 5px #000000;
}

.bloquefamilia2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.familia3 img {
  width: 70%;
  align-items: center;
  border-radius: 5px;
  margin-left: 150px;
  box-shadow: 8px 3px 5px #000000;
}

.bloquefamilia3 {
  display: flex;
}

.agendacion {
  margin-top: 15px;
  background-color: rgba(255, 228, 196, 0.582);
}

.phone {
  text-decoration: none;
  color: #F9B338;
}

.formulario {
  margin-top: 10px;
  width: 500px;
  font-size: 20px;
}

.nombre {
  width: 50px;
  margin-top: 50px;
}

.texto {
  display: flex;
  justify-content: center;
  text-align: center;
}

.agendacion h2 {
  display: flex;
  justify-content: center;
  text-align: center;
}

/*Responsividad para movil*/
@media screen and (max-width: 767px) {

  .iconofamilia {
    margin-left: -560px;
  }

  div .bloquefamilia1 {
    flex-direction: column;
    margin-left: -90px;
  }

  img {
    margin-top: 10px;
  }

  div .bloquefamilia2 {
    width: 300px;
    flex-direction: column;
    margin-left: -100px;
  }

  div .bloquefamilia3 {
    flex-direction: column;
    margin-left: -90px;
  }

  p {
    font-size: 40px;
  }

  a {
    display: none;
  }

  .agendacion h2 {
    display: flex;
    justify-content: center;
    text-align: center;
  }


}