/* Varianbles de color */
:root {
    /* Paleta de Estructura */
    --main-blanco: #FFFFFF;
    --main-cafe-oscuro: #432D1C;
    --main-cafe-claro: #b8988b;
    --main-cafe: #794531;
    --main-mostaza: #F9B338;

    --nav-bg-beige: #F8F0D5;
    --nav-active-bg-beige: #6D563A;
    /* Paleta de Fuentes */
    --font-cafe-medio: #6D563A;
    --font-blanco: #FFFFFF;
    --font-gris: #524A4A;
    --font-negro: #000000;

    /* Paleta de Extras */
    --extra-cafe-medio: #6D563A;
    --extra-blanco: #FFFFFF;
    --shadow-cafe-oscuro: #432D1C;
    --shadow-negro: #00000098;
    --extra-footer-cafe: #60342260;


}

/* Footer Styles */
footer {
    /* sizing */
    width: 100%;
    height: auto;
    padding: 15px 25px;

    /* effects */
    background-color: var(--main-mostaza);

    /* flexbox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    /* font styles */
    color: var(--font-blanco);
    font-family: 'Inter';
    word-spacing: 2.2px;
}

footer ul {
    list-style: none;

}

/* list left */
.footer-list-left {
    /* sizing */
    width: 25%;

    line-height: 25px;
    font-size: 18px;

    & li>a {
        text-decoration: none;
        color: var(--font-blanco);
    }

    & li>a:hover {
        transition: underline 0.8s ease;
        text-decoration: underline;
    }
}

.footer-list-right {
    /* sizing */
    width: 25%;

    & li>h3 {
        text-transform: uppercase;
    }

    & li {
        text-align: center;
        line-height: 22px;
    }
}

.footer-top {
    /* sizing */
    width: 100%;
    margin-bottom: 25px;

    /* flexbox */
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.footer-top>img {
    /* sizing */
    width: 15%;

    /* effects */
    cursor: pointer;
}

/* bottom footer section */
footer>hr {
    /* sizing / spacing */
    width: 80%;
    height: 2px;
    margin: 15px auto;

    /* effects */
    background-color: var(--extra-footer-cafe);
    border: none;
    border-radius: 16px;
}

.footer-bottom {
    /* sizing */
    width: 100%;
    height: 30px;
    margin: 10px;

    /* flexbox */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social {
    width: 115px;

    display: flex;
    justify-content: space-between;

    gap: 10px;
}

.social li a img {
    width: 28px;
}

.social li a:hover img {
    transform: scale(1.05);
}

.social li a:active img {
    transform: scale(0.95);
}

.footer-bottom span {
    font-size: 12px;
    word-spacing: 3px;
    font-weight: 500;
}


/* Responsive Design */
/* smartphone */
@media screen and (max-width: 767px) {

    /* footer container */
    footer {
        /* sizing */
        height: auto;
        width: 100%;
    }

    .footer-top {
        /* sizing */
        height: auto;
        width: 100%;
    
        /* flexbox */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }

    .footer-top a {
        order: 1;
    }

    .footer-top .footer-list-left {
        order: 2;
        width: auto;
        text-align: center;
    }


    .footer-top .footer-list-right {
        order: 3;
        width: auto;
    }
    
    .footer-bottom {
        /* sizing */
        height: auto;
        width: 100%;
    
        /* flexbox */
        display: flex;
        flex-direction: column-reverse;
        gap: 15px;
    }

}

/* tablet */
@media screen and (min-width: 767px) and (max-with:1023px) {

    /* footer container */

}