/* Agrega aquí tus estilos CSS */
.notification {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-weight: bold;
    font-family: 'Inter';
    max-height: 0;
    display: none;
    transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: fixed;
    background-color: transparent;
}

.success {
    background-color: #4CAF50;
    color: white;
    font-family: 'Inter';
}

.error {
    background-color: #FF5733;
    color: white;
    font-family: 'Inter';
}