/* Varianbles de color */
:root {
    /* Paleta de Estructura */
    --main-blanco: #FFFFFF;
    --main-cafe-oscuro: #432D1C;
    --main-cafe-claro: #b8988b;
    --main-cafe: #794531;
    --main-mostaza: #F9B338;
    --main-menu: #F9B338;

    --nav-bg-beige: #F8F0D5;
    --nav-active-bg-beige: #6D563A;
    /* Paleta de Fuentes */
    --font-cafe-medio: #6D563A;
    --font-blanco: #FFFFFF;
    --font-gris: #524A4A;
    --font-negro: #000000;

    /* Paleta de Extras */
    --extra-cafe-medio: #6D563A;
    --extra-blanco: #FFFFFF;
    --shadow-cafe-oscuro: #432D1C;
    --shadow-negro: #00000098;
    

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* main */
main {
    /* sizing */
    width: 100%;
    height: auto;

    /* flexbox */
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

    /* effects */
}

.phrase {
    /* Font styles */
    font-family: 'Pacifico';
    font-weight: 500;
    line-height: normal;

    text-shadow: 1px 1px 2px rgb(124, 124, 124), 0 0 1em rgb(75, 75, 75), 0 0 0.2em rgb(88, 88, 88);
}
